# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependency folders
node_modules/
.tuono/
out/
target/

# Build artifacts
dist/
build/
.next/
.fresh/
_fresh/

# Bun specific
.bun/
bun.lockb

# Ignore env files (also in subfolders)
.env
.env.*
.env*.local

# OS files
.DS_Store
Thumbs.db

# Benchmark artifacts
.lighthouseci/
*.wrk.log

# Keep reports in git (don't ignore)
!reports/**/*.md
.github/